@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  background:white;
  @apply text-gray-500 m-8;
}
h1, h2 {
  @apply font-bold text-primary text-lg;
}
main {
  @apply max-w-5xl my-12 mx-auto px-8;
}
main > h2 {
  @apply mb-4 pb-2 text-base ;
}
p > a {
  @apply text-primary underline;
}

/* nav styles */
nav {
  @apply
    pb-4
    border-b-2 border-black
    flex items-center gap-5 
    my-10 
    max-w-5xl;
    border-image: linear-gradient(to right, gray, gray, white);
    border-image-slice: 1;
  }

nav a, nav span {
  @apply text-gray-500;
}
nav a:hover {
  @apply text-black;
}
main nav {
  @apply border-0;
}

/* button styles */
button {
  @apply 
    px-3 py-2 
    rounded-sm 
    flex justify-between items-center gap-2
    text-sm;
}